<div id="containerStyle" class="container">
{{>nav}}
</div>
<div class="ui segment">
  <h2>
  My Followers
  </h2>
  <div class="ui two column very relaxed grid">
    <div class="column">
      {{#each followers}}
        <div class="ui raised link card">
          <div class="extra content">
            <div class="right floated author">
              {{this.username}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>