<div id="home">
  <div class="ui container">
    <div class="ui segment">
      <div class="ui two column very relaxed grid">
        <div class="column center">
          <div class="ui card">
            <div class="content">
              <i class="right floated like icon"></i>
              <i class="right floated star icon"></i>
              <div class="header">Cute Dog</div>
              <div class="description">
                <p></p>
              </div>
            </div>
            <div class="extra content">
              <span class="left floated like">
                <i class="like icon"></i>
                Like
              </span>
              <span class="right floated star">
                <i class="star icon"></i>
                Favorite
              </span>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui card">
            <div class="content">
              <i class="right floated like icon"></i>
              <i class="right floated star icon"></i>
              <div class="header">Cute Dog</div>
              <div class="description">
                <p></p>
              </div>
            </div>
            <div class="extra content">
              <span class="left floated like">
                <i class="like icon"></i>
                Like
              </span>
              <span class="right floated star">
                <i class="star icon"></i>
                Favorite
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="ui vertical divider">
        and
      </div>
    </div>
  </div>


<form action="/login" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="Log In" id = "login"/>
    </div>
</form>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../public/js/index.js"></script>
  <!-- You MUST include jQuery before Fomantic -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
  <script src="/semantic/dist/semantic.min.js"></script>
