<style>
  #profileBG {
    background-color: burlywood;

  }

  #centerContent{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

</style>


<div id="profileBG">
  <div class="container">
    {{>nav}}
    <a href="/">← Back To Home</a>
    <div class="row">
      <div class="col-8 offset-2">
        <div class="card mt-4">
          <div class="card-body">
            {{!-- <h5 class="card-title">User</h5> --}}
            <p hidden>
              <strong>ID</strong>: {{user.id}}
            </p>

            <p>
              <strong>I am</strong>: {{user.username}}
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>


  <form action="/posts" method="post" id="centerContent">

    <div>
      {{!-- <label>Create post:</label> --}}
      <button>Create My Post</button>

    </div>

    <div>
      {{!-- <textarea rows="4" cols="50" name="postcontent" id="postcontent"></textarea> --}}

      <div class="ui segment">
        <p></p>
      </div>

      <input type="submit" value="Create!" id="post" />
    </div>

  </form>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/profile.js"></script>