<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">User</h5>
          <p>
            <strong>ID</strong>: {{user.id}}</p>
          <p>
          <p>
            <strong>Username</strong>: {{user.username}}</p>
          <p>
            <a href="/">â† Back To Home</a>
            
        </div>
      </div>
    </div>
  </div>
</div>
<form action="/posts" method="post">
  <div>
      <label>Create post:</label>
  </div>
  <div>
      <textarea rows="4" cols="50" name="postcontent" id="postcontent"></textarea>
      <input type="submit" value="Post" id="post"/>
  </div>
</form>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/profile.js"></script>





