<div class="container">
 {{>nav}}
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">User</h5>
          <p>
            <strong>ID</strong>: {{user.id}}</p>
          <p>
          <p>
            <strong>Username</strong>: {{user.username}}</p>
          <p>
            <a href="/">← Back To Home</a>
            <button id="followBtn" type="submit">Follow</button>
        </div>
      </div>
    </div>
  </div>
</div>