<style>
    #loginContainer {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

</style>

<div id="loginContainer">
    <div  class="ui raised very padded text container segment">
        <div class="ui center aligned placeholder segment">
            {{!-- <div class="ui two column very relaxed stackable grid"> --}}
            <div class="column">

                <form class="ui form">
                    <div class="field">
                        <label>Username</label>
                        <input type="text" name="username" placeholder="username" id="rusername">
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <input type="password" name="password" placeholder="password" id="rpassword">
                    </div>
                    <div class="field">
                        <label>Email</label>
                        <input type="text" name="password" placeholder="email@email.com" id="remail">
                    </div>
                    
                    <div id="rerror"></div>
                    <button class="ui button" type="submit" id="register">Sign Me Up!</button>
                </form>
            </div>
        </div>
    </div>
</div>